body {  
  background: url("/images/presidents.png") no-repeat;
  background-size: cover;
}

svg { 
  background-color: rgba(255,0,0,0.5);
}

h3 {
  text-align: center;
}

path {
    stroke: blue;
    stroke-width: 1;
    fill: none;
}

div.tooltip {
  position: absolute;
  text-align: center;
  width: 100px;
  height: 50px;
  padding: 5px;
  font: 10px sans-serif;
  background: #ddd;
  border: solid 1px #aaa;
  border-radius: 10px;
  pointer-events: none;
}

div.tooltip img {
  float: left;
  width: 40px;
}

.infobox {  
  background-color: white;
  font-weight: bold;
  padding: 5px;
  padding-right: 0;
  text-align: center;
}

.infotext {
  color: white;
  text-align: center;
}
